*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial;
    font-size: 15pt;
    margin: 0px;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Substitui o botão pela imagem */
#buttonshowpass {
    background-size: cover;
    background-color: transparent;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

/* Define o tamanho da imagem */
#buttonimg {
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

/* Tamanho e borda do input */
#inputpass {
    height: 30px;
    border-radius: 5px;
}

/* Organiza os itens na div */
.container {
    background-color: #dfdfdf;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
}

/* Dá um espaçamento entre os elementos dentro da div */
.container > * {
    margin-bottom: 10px;
    padding: 2px;
}

/* Altera a cor do button */
#definepass {
    margin-top: 5px;
    padding: 5px;
    background-color: white;
    color: black;
}

/* Organiza e da um espaçamento nas imagens do changemode */
.Thememode {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
}

/* Tira os Botões padrões do radio */
input[type="radio"] {
    display: none;
}

/* Ajusta o tamanho das imagens*/
.radiolabel img {
    width: 35px;
    height: 35px;
    cursor: pointer; /* Quando colocar o mouse em cima, vira um ponteiro */
    transition: transform 0.2s ease-in-out;
}

/* Efeito de "subir" ao passar o mouse */
.radiolabel img:hover {
    transform: translateY(-5px); /* Faz a imagem subir */
}